body {
    background-color: lightcyan;
    font-family: Calibri, Arial;
}

h1 {
    text-align: center;
    font-family: Calibri,Arial;
}

ul li {
    margin-left: 30px;
    position: relative;
}

#imgSalmon {    
    display: block;
    margin: 0px auto;
    width: 600px;
    height: 250px;
}